.screen {
	max-width: 100%;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
    align-items: center;
    background-color:cadetblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form {
	box-sizing: border-box;
	padding: 20px;
	max-width: 100%;
    background-color: #ff0000d9;
	display: flex;
	flex-direction: column;
	align-items: stretch;
    justify-content: start;
}
.contain{
max-width: 100%;
display: flex;
justify-content: space-between;
width: 60%;
height: 80%;
margin-right: 20%;
background: #ff0000;
box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}
.duck-orangecolor{
    background-color: chocolate;
	max-width: 100%;
	width: 40%;
}
.info1{
    max-width: 100%;
	width: 60%;
	margin-top: 10px;
    margin-right: 50px;
	margin-left: 50px;
    border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 2px solid rgba(70, 96, 96, 1);
	background-color: rgba(255, 0, 17, 0.7);
	padding-left: 7px;
}
.info2{
    max-width: 100%;
	width:40%;
	min-height: 20px;
	margin-top: 10px;
    margin-right: 50px;
	margin-left: 50px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 2px solid rgba(70, 96, 96, 1);
	background-color: rgba(255, 0, 17, 0.7);
	padding-left: 7px;
}
.info3{
    max-width: 100%;
	width: 40%;
	min-height: 10px;
	margin-top: 10px;
    margin-right: 50px;
	margin-left: 50px;
    border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 2px solid rgba(70, 96, 96, 1);
	background-color: rgba(255, 0, 17, 0.7);
	padding-left: 7px;
}
.info4{
    max-width: 100%;
	width: 60%;
	min-height: 10px;
	margin-top: 10px;
    margin-right: 50px;
	margin-left: 50px;
    border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 2px solid rgba(70, 96, 96, 1);
	background-color: rgba(255, 0, 17, 0.7);
	padding-left: 7px;
}
.info1:hover{
	background-color: aqua
}
.info2:hover{
	background-color: black;
}
.info3:hover{
	background-color:aqua
}
.info4:hover{
	background-color: black;
}
.sendmessage:hover{
	color: aqua;
	background-color: black;
}
.sendmessage{
background: #468189;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
border-radius: 40px;
height: 50px;
margin-top: 30px;
margin-bottom: 20px;
margin-left: 40%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;

text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color:#ffffff;
}
.duck{
height: 90%;
margin-top: 40px;
margin-bottom: 20px;
margin-left: -70%;
}
.label{ 
display: flex;
flex-direction: column;
max-width: 100%;
width: 50%;
margin-top: 20px;
margin-bottom: 10px;
margin-right: 50px;
margin-left: 60px;
color: white;	
}